deployment/src/test/resources/workflows/AwsStateMachine.json
{
  "Comment": "Calculator example",
  "StartAt": "InitVariables",
  "States": {
    "InitVariables": {
      "Comment": "Initialize variables",
      "Type": "Pass",
      "Result": {
        "a": 1933043015,
        "b": 28046803,
        "c": -456756239
      },
      "Next": "Sum"
    },
    "Sum": {
      "Comment": "Sum 2 random numbers",
      "Type": "Task",
      "Resource": "arn:aws:states:::apigateway:invoke",
      "InputPath": "$",
      "Parameters": {
        "ApiEndpoint": "https://us-central1-workflow-test-380423.cloudfunctions.net",
        "Method": "GET",
        "Path": "/calculator",
        "Headers": {
          "test.$": [
            "t"
          ],
          "example.$": "States.Array(States.Format('{}', $.example))"
        },
        "QueryParameters": {
          "number1.$": "States.Array(States.Format('{}', $.a))",
          "number2.$": "States.Array(States.Format('{}', $.b))",
          "op.$": [
            "add"
          ]
        },
        "RequestBody": {
          "name": "test",
          "description": null,
          "input": null,
          "steps": [],
          "result": "result"
        }
      },
      "ResultSelector": {
        "sumResult.$": "$.ResponseBody"
      },
      "Next": "Condition"
    },
    "Condition": {
      "Comment": "condition",
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.c",
          "StringEquals": "0",
          "Next": "DivWithC"
        },
        {
          "Variable": "$.number",
          "NumericGreaterThan": 123,
          "Next": "DivWithC"
        }
      ],
      "Default": "Assign1ToC"
    },
    "Assign1ToC": {
      "Comment": "If c equal to 0 affect C with 1",
      "Type": "Pass",
      "Result": {
        "c": 1
      },
      "Next": "DivWithC"
    },
    "DivWithC": {
      "Comment": "Divide the previous result by a random value",
      "Type": "Task",
      "Resource": "arn:aws:states:::apigateway:invoke",
      "InputPath": "$",
      "Parameters": {
        "ApiEndpoint": "https://us-central1-workflow-test-380423.cloudfunctions.net",
        "Method": "GET",
        "Path": "/calculator",
        "QueryParameters": {
          "number1.$": "States.Array(States.Format('{}', $.sumResult))",
          "number2.$": "States.Array(States.Format('{}', $.c))",
          "op.$": [
            "div"
          ]
        }
      },
      "ResultSelector": {
        "divResult.$": "$.ResponseBody"
      },
      "End": true
    }
  }
}